
.icon-dashboard:before { content: '\e800'; } /* '' */
.icon-end_users:before { content: '\e801'; } /* '' */
.icon-devices:before { content: '\e802'; } /* '' */
.icon-applications:before { content: '\e803'; } /* '' */
.icon-resources:before { content: '\e804'; } /* '' */
.icon-pagination_3:before { content: '\e805'; } /* '' */
.icon-agreements:before { content: '\e806'; } /* '' */
.icon-partner_porfile:before { content: '\e807'; } /* '' */
.icon-notification:before { content: '\e808'; } /* '' */
.icon-geographic:before { content: '\e809'; } /* '' */
.icon-trends:before { content: '\e80a'; } /* '' */
.icon-grid:before { content: '\e80b'; } /* '' */
.icon-list:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-table:before { content: '\e80e'; } /* '' */
.icon-choose_menulist:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-operators:before { content: '\e811'; } /* '' */
.icon-last:before { content: '\e812'; } /* '' */
.icon-pagination_1:before { content: '\e813'; } /* '' */
.icon-next:before { content: '\e814'; } /* '' */
.icon-pagination_2:before { content: '\e815'; } /* '' */
.icon-last_month:before { content: '\e816'; } /* '' */
.icon-next_month:before { content: '\e817'; } /* '' */
.icon-uncheck:before { content: '\e818'; } /* '' */
.icon-check:before { content: '\e819'; } /* '' */
.icon-language:before { content: '\e81a'; } /* '' */
.icon-password:before { content: '\e81b'; } /* '' */
.icon-email:before { content: '\e81c'; } /* '' */
.icon-partner_id:before { content: '\e81d'; } /* '' */
.icon-back_to_home:before { content: '\e81e'; } /* '' */
.icon-attachment:before { content: '\e81f'; } /* '' */
.icon-menu:before { content: '\e820'; } /* '' */
.icon-help:before { content: '\e821'; } /* '' */
.icon-dropdown:before { content: '\e822'; } /* '' */
.icon-back_to_top:before { content: '\e823'; } /* '' */
.icon-show_password:before { content: '\e824'; } /* '' */
.icon-tick:before { content: '\e825'; } /* '' */
.icon-cross:before { content: '\e826'; } /* '' */
.icon-circular:before { content: '\e827'; } /* '' */
.icon-triangle:before { content: '\e828'; } /* '' */
.icon-add:before { content: '\e829'; } /* '' */
.icon-edit:before { content: '\e82a'; } /* '' */
.icon-delete:before { content: '\e82b'; } /* '' */
.icon-filter:before { content: '\e82c'; } /* '' */
.icon-switch:before { content: '\e82d'; } /* '' */
.icon-download:before { content: '\e82e'; } /* '' */
.icon-sign_out:before { content: '\e82f'; } /* '' */
.icon-prod:before { content: '\e830'; } /* '' */
.icon-admin:before { content: '\e831'; } /* '' */
.icon-back:before { content: '\e832'; } /* '' */
.icon-more:before { content: '\e833'; } /* '' */
.icon-about:before { content: '\e834'; } /* '' */